body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  padding:40px;
}

h1,h2 { color:gold; }

button,.btn {
  background:gold;
  color:black;
  padding:12px 20px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  text-decoration:none;
}

input {
  padding:10px;
  margin:10px 0;
  width:250px;
}
